.main {
    background: rgb(15, 22, 36);
    color: white;
    position: absolute;
    height: 100%;
    width: 100%;
}

.menu {
    display: flex;
    justify-content: end;
    margin-right: 100px;
}

li {
    list-style: none;
    padding: 25px;
    align-items: center;

}

a {
    background: rgb(15, 22, 36);
    color: white;
    align-items: center;
    text-decoration: none;
    font-size: 26px;
}